body { 
  padding-top: 51px; 
}

.post {
  padding: 5px 15px 5px 15px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
}

.score {
  width: 30px;
  margin-right: 25px;
}

.infobox {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: space-around;
  align-items: space-around;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.link {
  margin: 0px;
}

.infoBox * {
  margin-top: 5px;
  margin-bottom: 5px;
}


.domain {
  color: gray;
}

.otherInfo * {
  margin-right: 15px;
}